<!-- cell templates -->
<!-- default cell -->
<ng-template #labelTemplate [cellTemplate]="'labelTemplate'" let-row="row" let-col="col" let-idx="rowIdx">
  <span class="cell-content" [innerHTML]="getFieldData(row, col) || 'EMPTY_CELL' | translate | sanitize"></span>
</ng-template>

<!-- strong cell -->
<ng-template #labelBoldTemplate [cellTemplate]="'labelBoldTemplate'" let-row="row" let-col="col" let-idx="rowIdx">
  <strong class="cell-content" [innerHTML]="getFieldData(row, col) || 'EMPTY_CELL' | translate | sanitize"></strong>
</ng-template>

<!-- numeric cell -->
<ng-template #numericTemplate [cellTemplate]="'numericTemplate'" let-row="row" let-col="col" let-idx="rowIdx">
  <div class="cell-content" [style.textAlign]="'right'">{{ asNumeric(getFieldData(row, col)) }}</div>
</ng-template>

<!-- icon cell -->
<ng-template #iconTemplate [cellTemplate]="'iconTemplate'" let-row="row" let-col="col" let-idx="rowIdx">
  <mat-icon aria-hidden="false" aria-label="{{row[col.altText]}}" [svgIcon]="getFieldData(row, col)"></mat-icon>
</ng-template>

<!-- component cell -->
<ng-template #componentTemplate [cellTemplate]="'componentTemplate'" let-row="row" let-col="col" let-idx="rowIdx">
  <ng-container
    *ngComponentOutlet="col.component; ndcDynamicInputs: getComponentInputs(row, col); ndcDynamicOutputs: col.componentOptions?.outputs"
  ></ng-container>
</ng-template>
