<cell-templates #cellTemplates></cell-templates>

<ng-template #default let-row="row" let-cols="cols">
  <table [id]="customId" mat-table [dataSource]="row">
    <ng-container *ngFor="let col of generateDefaultColDefs(cols); let colIndex = index" matColumnDef="{{ col.field }}">
      <th mat-header-cell *matHeaderCellDef scope="col">{{ col.label }}</th>
      <td mat-cell *matCellDef="let row; let idx = index">{{ row[col.field] }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="cols"></tr>
    <tr mat-row *matRowDef="let row; columns: cols"></tr>
  </table>
</ng-template>

<ng-template #columnMenu>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="">
    <mat-icon [svgIcon]="'dots-vertical'"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let col of columnSettings" (click)="$event.stopPropagation(); columnSelection.toggle(col)">
      <mat-checkbox
        [color]="color"
        name="column-checkbox--{{ col.label }}"
        (click)="$event.stopPropagation()"
        (change)="$event ? columnSelection.toggle(col) : null"
        [checked]="columnSelection.isSelected(col)"
      >
        {{ col.label | translate }}
      </mat-checkbox>
    </button>
  </mat-menu>
</ng-template>

<div class="">
  <div *ngIf="isLoading() | async" [class.loadOverlay]="true">
    <mat-spinner [diameter]="50" [color]="color"></mat-spinner>
  </div>
  <table mat-table [id]="customId" [dataSource]="dataSource" multiTemplateDataRows cdkDropListGroup matSort>
    <!-- multiselect -->
    <ng-container matColumnDef="$selectBoxes" sticky>
      <th mat-header-cell *matHeaderCellDef scope="col" class="master-detail-header">
        <mat-checkbox
          [color]="color"
          (change)="$event ? masterToggle() : null"
          [checked]="rowSelection.hasValue() && isAllSelected()"
          [indeterminate]="rowSelection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row; let idx = index" class="master-detail-cell">
        <mat-checkbox
          [color]="color"
          (click)="$event.stopPropagation()"
          (change)="$event ? rowSelection.toggle(row) : null"
          [checked]="rowSelection.isSelected(row)"
          [aria-label]="checkboxLabel(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- column menu -->
    <ng-container matColumnDef="$columnMenu" stickyEnd>
      <th mat-header-cell *matHeaderCellDef scope="col" class="master-detail-header">
        <ng-container [ngTemplateOutlet]="columnMenu"></ng-container>
      </th>
      <td mat-cell *matCellDef="let row; let idx = index" class="master-detail-cell">
        <button *ngIf="row.actions?.length" mat-icon-button [matMenuTriggerFor]="menu" aria-label="">
          <mat-icon [svgIcon]="'dots-vertical'"></mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor="let act of row.actions" color="accent" (click)="act.callBack(row)">
            {{ act.label | translate }}
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <!-- master-detail row definition -->
    <ng-container matColumnDef="$masterDetail" sticky>
      <th mat-header-cell *matHeaderCellDef scope="col" class="master-detail-header"></th>
      <td mat-cell *matCellDef="let row; let idx = index" class="master-detail-cell">
        <button *ngIf="hasDetailRow(idx, row)" mat-icon-button [class.master-detail]="hasDetailRow(idx, row)" (click)="expandRow(row)">
          <mat-icon
            aria-hidden="false"
            [attr.aria-label]="(row.$expanded ? 'MASTER_DETAIL.COLLAPSE' : 'MASTER_DETAIL.EXPAND') | translate"
            [svgIcon]="row.$expanded ? detailOpenIcon : detailClosedIcon"
          ></mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="$expandedDetail">
      <td mat-cell *matCellDef="let row; let idx = index" [attr.colspan]="actualColumns.length">
        <div class="detail" [@detailExpand]="row.$expanded ? 'expanded' : 'collapsed'">
          <ng-container *ngIf="detailTemplate">
            <ng-container *ngTemplateOutlet="detailTemplate; context: { row: row, idx: idx }"></ng-container>
          </ng-container>
          <ng-container *ngIf="!detailTemplate">
            <ng-container *ngTemplateOutlet="default; context: { row: [row], cols: getHiddenProps(actualColumns, row) }"> </ng-container>
          </ng-container>
        </div>
      </td>
    </ng-container>

    <!-- setup columns -->
    <ng-container
      *ngFor="let col of columnSettings; let colIndex = index; let isLast = last"
      matColumnDef="{{ col.field }}"
      [sticky]="col.sticky && !col.stickyEnd"
      [stickyEnd]="col.stickyEnd && !col.sticky"
    >
      <ng-container *ngIf="col.sortable && hasSorting">
        <th
          *matHeaderCellDef
          mat-header-cell
          [mat-sort-header]="col?.orderName || col?.field"
          mwlResizable
          [enableGhostResize]="false"
          (resizeStart)="onResizeStart($event)"
          (resizeEnd)="onResizeEnd($event, col)"
          [resizeEdges]="{ bottom: false, right: true, top: false, left: true }"
          [id]="customId + '-header-' + col.field"
          scope="col"
        >
          {{ col.label | translate }}
        </th>
      </ng-container>
      <ng-container *ngIf="!col.sortable || !hasSorting">
        <th
          mat-header-cell
          *matHeaderCellDef
          mwlResizable
          [enableGhostResize]="false"
          (resizeEnd)="onResizeEnd($event, col)"
          [resizeEdges]="{ bottom: false, right: true, top: false, left: true }"
          [id]="customId + '-header-' + col.field"
          scope="col"
        >
          {{ col.label | translate }}
        </th>
      </ng-container>
      <td mat-cell *matCellDef="let row; let idx = index" (click)="onCellClick($event, { row: row, col: col })">
        <ng-container
          *ngTemplateOutlet="getTemplate(col.template ? col.template : 'labelTemplate'); context: { row: row, col: col, rowIdx: idx }"
        >
        </ng-container>
      </td>
    </ng-container>

    <!-- header row render -->
    <tr mat-header-row *matHeaderRowDef="actualColumns; sticky: fixedHeader"></tr>
    <!-- row render -->
    <tr
      mat-row
      [attr.tabindex]="0"
      [ngClass]="rowClass(row)"
      *matRowDef="let row; columns: actualColumns"
      [class.expanded-detail]="expandedRow === row"
      (click)="onRowClick($event, row)"
      (keydown)="onRowKeyDown($event, row)"
    ></tr>
    <!-- detail row render -->
    <ng-container *ngIf="showDetails">
      <tr mat-row *matRowDef="let row; columns: ['$expandedDetail']; when: hasDetailRow" class="detail-row"></tr>
    </ng-container>
  </table>
  <div *ngIf="rowCount === 0">
    <span class="noRowsToShowOverlay">{{ 'ICELL_DATA_TABLE.NOROWSTOSHOW' | translate }}</span>
  </div>
</div>
