<cell-templates #cellTemplates></cell-templates>
<ng-template #default let-row="row" let-cols="cols">
  <table [id]="customId" mat-table [dataSource]="row">
    <ng-container *ngFor="let col of generateDefaultColDefs(cols); let colIndex = index" matColumnDef="{{ col.field }}">
      <th mat-header-cell *matHeaderCellDef scope="col">{{ col.label }}</th>
      <td mat-cell *matCellDef="let row; let idx = index">{{ row[col.field] }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="cols"></tr>
    <tr mat-row *matRowDef="let row; columns: cols"></tr>
  </table>
</ng-template>

<ng-template #columnMenu>
  <div *ngIf="columnMenuStyle === 'dotsMenu'; else longMenu" class="align-items-right">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="" role="menu">
      <mat-icon [svgIcon]="'dots-vertical'"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <ng-container *ngFor="let col of columnDefinitions">
        <button mat-menu-item *ngIf="col.hideable" (click)="$event.stopPropagation(); columnSelection.toggle(col)">
          <mat-checkbox
            [color]="color"
            name="column-checkbox--{{ col.label }}"
            (click)="$event.stopPropagation()"
            (change)="$event ? columnSelection.toggle(col) : null"
            [checked]="columnSelection.isSelected(col)"
          >
            <span [innerHTML]="col.label | translate | sanitize"></span>
          </mat-checkbox>
        </button>
      </ng-container>
    </mat-menu>
  </div>

  <ng-template #longMenu>
    <div class="align-items-right">
      <mat-form-field>
        <mat-label>{{ columnMenuPlaceholder }}</mat-label>
        <mat-select [formControl]="columnSelectorFormControl" multiple (selectionChange)="handleColumnSelectionChange($event)">
          <ng-container *ngFor="let colEntry of columnDefinitions">
            <mat-option *ngIf="colEntry.hideable" [value]="colEntry"> {{ colEntry.label | translate }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
  </ng-template>
</ng-template>

<div>
  <div *ngIf="isLoading() | async" [class.loadOverlay]="true">
    <mat-spinner [diameter]="50" [color]="color"></mat-spinner>
  </div>
  <div *ngIf="showColumnMenu">
    <ng-container [ngTemplateOutlet]="columnMenu"></ng-container>
  </div>
  <div class="extensions top-extensions" *ngIf="extensions.length > 0">
    <ng-container *ngFor="let extension of extensions">
      <ng-container *ngTemplateOutlet="extension; context: { table: context }"></ng-container>
    </ng-container>
  </div>
  <div class="horizontal-scroll">
    <table mat-table [id]="customId" [dataSource]="dataSource" multiTemplateDataRows cdkDropListGroup matSort>
      <caption [innerHTML]="caption | translate | sanitize"></caption>
      <!-- multiselect -->
      <ng-container matColumnDef="$selectBoxes" sticky>
        <th mat-header-cell *matHeaderCellDef scope="col" role="cell" class="master-detail-header">
          <mat-checkbox
            [color]="color"
            (change)="$event ? masterToggle() : null"
            [checked]="rowSelection.hasValue() && isAllSelected()"
            [indeterminate]="rowSelection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row; let idx = index" class="master-detail-cell">
          <mat-checkbox
            *ngIf="hideSelectParameter ? !row[hideSelectParameter] : true"
            [color]="color"
            (click)="$event.stopPropagation()"
            (change)="$event ? rowSelection.toggle(row) : null"
            [checked]="rowSelection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>
      <!-- column menu -->
      <ng-container matColumnDef="$columnMenu" stickyEnd>
        <td mat-cell *matCellDef="let row; let idx = index" class="master-detail-cell">
          <button *ngIf="row.actions?.length" mat-icon-button [matMenuTriggerFor]="menu" aria-label="">
            <mat-icon [svgIcon]="'dots-vertical'"></mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              *ngFor="let act of row.actions"
              color="accent"
              (click)="act.callBack(row)"
              [innerHTML]="act.label | translate | sanitize"
            ></button>
          </mat-menu>
        </td>
      </ng-container>
      <!-- master-detail row definition -->
      <ng-container matColumnDef="$masterDetail" sticky>
        <th mat-header-cell *matHeaderCellDef scope="col" class="master-detail-header"></th>
        <td mat-cell *matCellDef="let row; let idx = index" class="master-detail-cell">
          <button *ngIf="hasDetailRow(idx, row)" mat-icon-button [class.master-detail]="hasDetailRow(idx, row)" (click)="expandRow(row)">
            <mat-icon
              aria-hidden="false"
              [attr.aria-label]="(row.$expanded ? 'MASTER_DETAIL.COLLAPSE' : 'MASTER_DETAIL.EXPAND') | translate | sanitize"
              [svgIcon]="row.$expanded ? detailOpenIcon : detailClosedIcon"
            ></mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="$expandedDetail">
        <td mat-cell *matCellDef="let row; let idx = index" [attr.colspan]="actualColumns.length">
          <div class="detail" [@detailExpand]="row.$expanded || allRowsExpanded ? 'expanded' : 'collapsed'">
            <ng-container *ngIf="detailTemplate">
              <ng-container *ngTemplateOutlet="detailTemplate; context: { row: row, idx: idx }"></ng-container>
            </ng-container>
            <ng-container *ngIf="!detailTemplate">
              <ng-container *ngTemplateOutlet="default; context: { row: [row], cols: getHiddenProps(actualColumns, row) }"> </ng-container>
            </ng-container>
          </div>
        </td>
      </ng-container>
      <!-- setup grouping headers -->
      <ng-container *ngFor="let col of groupingHeaders; let colIndex = index; let isLast = last" matColumnDef="{{ col.name }}">
        <th *matHeaderCellDef mat-header-cell [colSpan]="col.colspan" [class]="col.classes || ''">
          <span [innerHTML]="col.label | translate | sanitize"></span>
        </th>
      </ng-container>
      <!-- setup columns -->
      <ng-container
        *ngFor="let col of columnDefinitions; let colIndex = index; let isLast = last"
        matColumnDef="{{ col.field }}"
        [sticky]="col.sticky && !col.stickyEnd"
        [stickyEnd]="col.stickyEnd && !col.sticky"
      >
        <ng-container *ngIf="col.sortable && hasSorting">
          <th
            *matHeaderCellDef
            mat-header-cell
            mwlResizable
            [class]="col.columnClasses || ''"
            [enableGhostResize]="false"
            (resizeStart)="onResizeStart($event)"
            (resizeEnd)="onResizeEnd($event, col)"
            [resizeEdges]="{ bottom: false, right: true, top: false, left: true }"
            [id]="customId + '-header-' + col.field"
            scope="col"
          >
            <span [innerHTML]="col.label | translate | sanitize"></span>
            <button
              mat-icon-button
              type="button"
              [class.grey]="!isSorted(col?.orderName || col?.field)"
              (click)="sortClickEvent(col?.orderName || col?.field, col)"
              [attr.aria-label]="sortButtonLabel(col?.orderName || col?.field)"
            >
              <ng-container [ngSwitch]="getSortDirection(col?.orderName || col?.field)">
                <mat-icon *ngSwitchCase="''" [svgIcon]="sortingNoSort"></mat-icon>
                <mat-icon *ngSwitchCase="'asc'" [svgIcon]="sortingAsc"></mat-icon>
                <mat-icon *ngSwitchCase="'desc'" [svgIcon]="sortingDesc"></mat-icon>
              </ng-container>
            </button>
          </th>
        </ng-container>
        <ng-container *ngIf="!col.sortable || !hasSorting">
          <th
            mat-header-cell
            *matHeaderCellDef
            mwlResizable
            [class]="col.columnClasses || ''"
            [enableGhostResize]="false"
            (resizeEnd)="onResizeEnd($event, col)"
            [resizeEdges]="{ bottom: false, right: true, top: false, left: true }"
            [id]="customId + '-header-' + col.field"
            scope="col"
            [innerHTML]="col.label | translate | sanitize"
          ></th>
        </ng-container>
        <ng-container *ngIf="!col?.identifier">
          <td
            mat-cell
            *matCellDef="let row; let idx = index"
            (click)="onCellClick($event, { row: row, col: col })"
            [class]="col.cellClasses || ''"
          >
            <ng-container
              *ngTemplateOutlet="getTemplate(col.template ? col.template : 'labelTemplate'); context: { row: row, col: col, rowIdx: idx }"
            >
            </ng-container>
          </td>
        </ng-container>
        <ng-container *ngIf="col?.identifier">
          <th
            mat-cell
            role="gridcell"
            class="mat-cell cdk-cell cdk-column-{{ col.field }} mat-column-{{ col.field }} {{ col.cellClasses || '' }}"
            scope="row"
            *matCellDef="let row; let idx = index"
            (click)="onCellClick($event, { row: row, col: col })"
          >
            <ng-container
              *ngTemplateOutlet="getTemplate(col.template ? col.template : 'labelTemplate'); context: { row: row, col: col, rowIdx: idx }"
            >
            </ng-container>
          </th>
        </ng-container>
      </ng-container>
      <!-- header row render -->
      <ng-container *ngIf="hasGroupingHeaders()">
        <tr mat-header-row *matHeaderRowDef="groupingColumns"></tr>
      </ng-container>
      <tr [class]="headerClass" mat-header-row *matHeaderRowDef="actualColumns; sticky: fixedHeader"></tr>
      <!-- row render -->
      <tr
        mat-row
        [ngClass]="rowClass(row)"
        *matRowDef="let row; columns: actualColumns"
        [class.expanded-detail]="expandedRow === row || allRowsExpanded"
        (click)="onRowClick($event, row)"
        (keydown)="onRowKeyDown($event, row)"
      ></tr>
      <!-- detail row render -->
      <ng-container *ngIf="showDetails">
        <tr mat-row *matRowDef="let row; columns: ['$expandedDetail']; when: hasDetailRow" class="detail-row"></tr>
      </ng-container>
    </table>
  </div>
  <div class="extensions bottom-extensions" *ngIf="extensions.length > 0">
    <ng-container *ngFor="let extension of extensions">
      <ng-container *ngTemplateOutlet="extension; context: { table: context }"></ng-container>
    </ng-container>
  </div>
  <div *ngIf="rowCount === 0">
    <span class="noRowsToShowOverlay" [innerHTML]="'ICELL_DATA_TABLE.NOROWSTOSHOW' | translate | sanitize"></span>
  </div>
</div>
